# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Model checkpoints and logs
checkpoints/
logs/
*.pth

# Dataset
dataset/
image_samples/
interface/
model/configs
build_dataset.py

runs/
colab_training.ipynb

# Kaggle
kaggle.json